<?php
/**
* Testing Configuration Override
*/

return array(
    'doctrine' => array(
        'configuration' => array(
            'orm_default' => array(
                'query_cache'       => 'apc',
                'result_cache'      => 'apc',
                'metadata_cache'    => 'apc'
            )
        ),
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => getenv("DATABASE1_HOST"),
                    'port'     => getenv("DATABASE1_PORT"),
                    'user'     => getenv("DATABASE1_USER"),
                    'password' => getenv("DATABASE1_PASS"),
                    'dbname'   => getenv("DATABASE1_NAME"),
                    'charset'  => 'utf8'
                )
            )
        ),
    ),
);
