<?php
/**
* Testing Configuration Override
*/

return array(
    'doctrine' => array(
        'configuration' => array(
            'orm_default' => array(
                'query_cache'       => 'apc',
                'result_cache'      => 'apc',
                'metadata_cache'    => 'apc'
            )
        ),
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => DATABASE1_HOST,
                    'port'     => DATABASE1_PORT,
                    'user'     => DATABASE1_USER,
                    'password' => DATABASE1_PASS,
                    'dbname'   => DATABASE1_NAME,
                )
            )
        ),
    ),
);
